Source: libgnome2-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 3.0.16), perl (>= 5.8.0-7), libgtk2-perl (>= 0.90)
Maintainer: James Curbo <hannibal@adtrw.org>
Standards-Version: 3.6.0

Package: libgnome2-perl
Architecture: any
Depends: ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}, libgtk-perl (>= 0.80)
Description:  Perl interface to the 2.x series of the Gnome libraries
 The Gnome2 module allows a perl developer to use the Gnome libraries.
